<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a>
    was started in 2018 by
    <a href="https://twitter.com/sshkhr16">sshkhr</a>. It is currently maintained by the awesome-mlss organization which includes
    <a href="https://github.com/gmberton">gmberton</a> and <a href="https://github.com/smsnobin77">smsnobin77</a>.
    <br>This website was inspired (and originally coded) by the fantastic <a href="https://twitter.com/abhshkdz">abhshkdz</a> for <a href="https://aideadlin.es">aideadlin.es</a>. 
    <br>We assume no guarantee for correctness, please correct any mistakes you may find by <a href="https://github.com/awesome-mlss/awesome-mlss/">submitting a pull request</a>.
  </div>
</div>
