<div class="row">
  <div class="col-12 col-sm-12">
    <a href="/">{{ site.domain }}</a>
    was built and maintained from 2018 onwards by
    <a href="https://twitter.com/abhshkdz">sshkhr</a>. It has been maintained by
    <a href="https://github.com/gmberton">gmberton</a> since 2023.
    <br>This website was inspired (and originally coded) by the fantastic <a href="https://aideadlin.es">aideadlin.es</a>. 
    <br>We assume no guarantee for correctness, please correct any mistakes you may find by <a href="https://github.com/sshkhr/awesome-mlss/">submitting a pull request</a>.
  </div>
</div>
