<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div style="vertical-align: middle; padding-top: 8px;">
        <div>
          <a class="navbar-brand" href="{{site.baseurl}}/" style="border-bottom: none; line-height: 0.1em;">
          Awesome MLSS<br><br>
          </a>
        </div>
        <div style="color: white; font-size: x-small;">
          by 
          <a href="https://github.com/sshkhr">sshkhr</a> & <a href="https://github.com/gmberton">gmberton</a>
        </div>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler"
      aria-controls="navbars-toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <ul class="navbar-nav mr-auto">
        <li>
          <a href="{{site.baseurl}}/" class="nav-link" style="border-bottom: none">Countdowns</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/calendar" class="nav-link" style="border-bottom: none;">Calendar</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/archive" class="nav-link" style="border-bottom: none;">Archive</a>
        </li>
      </ul>
      <div class="twitter-github-icons">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-text="{{ site.description }}"
          data-hashtags="{% if site.twitter.hashtag %} #{{ site.twitter.hashtag }}{% endif %}"
          data-size="large"
          data-show-count="false" style="font-size: 30px;">Tweet</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        &nbsp; &nbsp;
          <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true&size=large" 
          frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>
      </div>
    </div>
  </div>
</nav>